*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
font-family: 'Be Vietnam Pro', sans-serif;
background-image: url(/imagenes/bg-tablet-pattern.svg);
background-repeat: no-repeat;
background-position: 135% -12%; 
background-size: 60%;
width: 98vw;
max-width: 1440px;
}


/****** ATRIBUTOS GENERALES ******/

a{
text-decoration: none;
}

li{
list-style: none; font-weight: 400;
}

h1{
font-size: 58px;
color:#232C50;
font-weight: 700;
padding-bottom: 20px;
}

h2{
font-size: 36px;
font-weight: 700;
padding-bottom: 25px;
color: #232C50;
}

p{
font-weight: 500;
color:#B3B2B7 ;
line-height: 150%;
}

/****** HEADER ******/

header {
display: flex;
justify-content: center;
}

.headerContainer{
display: flex;
justify-content: space-between;
height: 174px;
width: 80vw;
align-items: center;
}

header .headerContainer img {
height: 25px;
width: 150px;
}

header .headerContainer nav ul {
display: flex;
}


header .headerContainer nav ul li{
padding: 20px;
}

.opciones{
color:#232C50;
font-size: 13px;
}

.opciones:hover{
color:#B3B2B7;
}

.fa-bars:before, .fa-navicon:before {
display: none;
}

.button {
background-color: #F3603B;
color: white;
border-radius: 50px;
padding: 15px 25px;
border: none;
width: 123px;
height: 46px;
font-family:'Be Vietnam Pro', sans-serif;
font-size: 12px;
cursor: pointer;
box-shadow: 1px 5px 18px -7px #b6a5a1, -1px 5px 18px -7px #b6a5a1
}


.button:hover{
box-shadow: 1px 8px 18px -7px #F3603B, -1px 8px 18px -7px #F3603B;
opacity: 0.8;
}

/******* CONTENEDOR MAIN ******/

main{
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}


/***PRIMERA SECCIÓN-GRÁFICO***/

.grafico{
display: flex;
width: 80vw;
height: 520px;
}

.bring{
display: flex;
flex-direction: column;
justify-content: center;
width: 50%;}

.manage{
width: 60%;
height: 110px;
}

.imgGrafico{
width: 50%;
height: 100%;
}

.imgGrafico img{
width: 100%;
height: 100%;
}
/***SEGUNDA SECCIÓN***/

.sobreNosotros{
display:flex;
justify-content: space-between;
width: 80vw;
height: 600px;
margin-top: 100px;
}

.what{
display: flex;
flex-direction: column;
width: 40%;
}

.what p {
width: 75%;
}

.track{
display: flex;
flex-direction: column;
width: 47% ;
}

.track p{
padding-left: 95px;
padding-top: 20px;
padding-bottom: 50px;
text-align: justify;
}

.uno::before{
content:"01";
color:rgb(255, 255, 255);
font-size: 16px;
font-weight: 500;
background-color: #F3603B;
padding: 10px 25px;
margin-right: 25px;
border-radius: 30px;
}

.dos::before{
content:"02";
color:rgb(255, 255, 255);
font-size: 16px;
font-weight: 500;
background-color: #F3603B;
padding: 10px 25px;
margin-right: 25px;
border-radius: 30px;
}

.tres::before{
content:"03";
color:rgb(255, 255, 255);
font-size: 16px;
font-weight: 500;
background-color: #F3603B;
padding: 10px 25px;
margin-right: 25px;
border-radius: 30px;
}

/***PRIMERA SECCIÓN-CARDS***/

.testimony{
display:flex;
flex-direction: column;
align-items: center;
justify-content:space-around;
width: 95vw;
height: 478px;
}

.cardsContainer{
display: flex;
justify-content: space-around;
height: 220px;
}

.cards{
display: flex;
flex-direction: column;
align-items: center;
width: 32%;
background-color:#FAFAFA ;
position: relative;
}

.cards p {
text-align: center;
width: 93%;
}

.avatar{
position: absolute;
top: -35px;
width: 70px;
height: 70px;
}

.nombres{
padding-top: 55px;
padding-bottom: 20px;
}

/**CUARTA SECCIÓN***/

.orange{
display: flex;
justify-content: space-around;
align-items: center;
height: 224px;
width: 98.5vw;
background-color: #F3613C;
margin-top: 80px;
}

.orange input {
background-color: white;
color:#F3613C ;
box-shadow:none;
}

#simplify{
color: white;
width:40%;
font-size: 40px;
font-weight: 700;
}




/****** FOOTER ******/

footer{
display: flex;
justify-content: space-around;
align-items: center;
background-color: black;
height: 247px;
width: 98.5vw;
}

.redSocial,.navFooter,.formulario{
height: 50%;
}
/*** LOGO Y REDES SOCIALES ***/

#logoFooter{
color: white;
}

.redSocial{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}
    

/*** NAVEGADORES ***/

.red{
color: white;
font-size: 25px;
}

.red:hover{
color:#F3613C;
cursor: pointer;
}

footer nav ul li a {
color: white;
font-weight: 400;
line-height: 200%;
}

footer nav ul li a:hover{
color:#F3613C;
}


.navegadores{
display: flex;
width: 400px;
justify-content: space-between;
}


/*** FORMULARIO ***/

.formulario{
display: flex;
flex-direction: column;
justify-content: space-between;
}

form{
display: flex;
justify-content: space-between;
width: 280px;
}

form div{ 
display: flex;
flex-direction: column;
}

/* Ingreso email */
.input{
display: block;
border-radius: 50px;
width: 200px;
height: 44px;
text-indent: 1rem; 
border: none;
}

/*Borde*/
.input:invalid{
border: 2px solid ;color: #e63d13;
}

/*Mensaje*/
.input:invalid + p::before{
content: 'Please insert a valid email';
color: #e63d13;
font-size: 12px;
font-style: italic;
padding-left: 15px;
}

/* Botón*/

form .formButton {
width: 63px;
height: 44px;
background-color:#F3613C;
color: white;
border-radius: 50px;
border: none;
cursor: pointer;
} 

#copyright{
font-size:12px;
text-align: right;
}








/*****MEDIA QUERIES*****/

@media (max-width:375px){

    body{
    background-position: 60px -70px; 
    background-size: 100%;
    }

    main{
    width: 370px;
    justify-content: space-around;
    }
/* HEADER MQ */

    header{
    height: 100px;
    }

    .headerContainer{
    height: 100%;
    }
    header .headerContainer img {
    width: 110px;
    height: 20px;
    }
    header nav{
    display: none;
    }

    header input {
    display: none;
    }

    .fa-bars:before, .fa-navicon:before {
    display: block;
    color: #232C50;
    font-size: 18px;
    }


/* Primera Sección MQ Gráfico*/

    .main{
    align-items: center;
    }
    .grafico{
    flex-direction: column-reverse;
    width: 330px;
    height: 600px;
    }

    .bring{
    align-items: center;
    width: 100%;
    }

    .imgGrafico{
    width: 100%;
    height: 330px;
    }

    h1{
    font-size: 38px;
    text-align: center;
    width: 337px;
    }

    .manage{
    text-align: justify;
    width: 95%;
    }
    
    
    /* Segunda Sección MQ Whats y números*/
    
    .sobreNosotros{
    flex-direction: column;
    width: 370px;
    height: 800px;
    align-items: center;
    }

    .what{
    width: 350px;
    align-items: center;
    }
    .what h2{
    text-align: center;
    }

    .what p{
    width: 300px;
    text-align: justify;
    font-size: 14px;
    }

    .track{
        width: 370px;
        margin-top: 50px;
    }
    
    .track h3,.track p {
        font-size: 14px;
    }
    
    .track h3{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 18px;
    border-top-left-radius:50px;
    border-bottom-left-radius:50px;
    background-color:rgba(254, 214, 189, 0.55)
        }
    .track p{
        width: 90%;
        padding-left: 35px;
    }
    
    .track div{
        align-items: center;
    }

    
    /* Tercera Sección MQ Testimonios */

    .testimony{
    height: 600px;
    margin-top: 40px;
    }

    .cardsContainer{
    flex-direction: column;
    }

    .cards{
    flex-direction: column;
    width: 350px;
    height: 320px ;
    }

    #Anisha,#Richard{
    display: none;
    }


/* Cuarta sección - Simply */

    .orange{
    flex-direction: column;
    height: 400px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    }

    #simplify{
    width: 330px;
    text-align: center;
    font-size: 38px;
    padding-bottom: 20px;
    }


/* Footer */

    footer{
    position: relative;
    flex-direction: column-reverse;
    height: 500px;
    justify-content: space-around;
    }

    .navegadores{
    width: 330px;
    justify-content: space-around;
    margin-top: 20px;
    }
    
    .navFooter a{
    font-size: 14px;
    font-weight: 400;
    }
    .redSocial{
    flex-direction: column-reverse;
    width: 300px;
    height: 150px;
    justify-content: space-around;
    margin-bottom: 50px;
    }

    .iconos{
    width: 100%;
    display: flex;
    justify-content: space-around;
    }

    #copyright{
    position: absolute;
    bottom: 20px;
    left: 75px;
    }

    .formulario{
    height: 50px;
    margin-top: 30px;
    }

}