/******HEADER******/

header{display:flex;
justify-content: space-between;
width: 1024px;
height: 100px;
background-color: black;
color: white;
margin: 0px;
box-shadow: 1px 1px 5px black;
z-index: 10;}

#logoHeader{padding: 10px;
margin-left: 13px;}


.navegador{display:flex;
margin-right: 20px;
align-items: center;}

.botones{text-decoration: none;
color: white;
margin: 7px;
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 400;}

/******CUERPO******/

body{margin: 0px;}

main{display:flex;
width: 1024px;
height: 420px;
background-color: #E5E5E5;
justify-content: center;
align-items: center;}

/******BOX1******/

.box1{display: flex;
width: 490px;
height: 350px;
border-radius: 5px;
margin-right: 4px;}

#envio{position: absolute;
margin-left: 20px;
font-family: 'Roboto', sans-serif;
font-size: 24px;
font-weight: 700;}

.rojo{color: red;}
.blanco{color: white;}

/******BOX2******/

.box2{display: flex;
flex-direction: column;
width: 490px;
height: 350px;
background-color: white;
border-radius: 5px;}

#podio{font-family:'Roboto', sans-serif;
font-size: 24px;
font-weight: 700;}

#Pizzas{font-family: 'Roboto', sans-serif;
font-size: 20px;
font-weight: 700;}

.nombrePizza{font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 700;
padding: 4px;}

.boxPodio{display: flex;
justify-content: center;}

.boxPizzas{display: flex;
justify-content: space-around;
align-items: center;
}

.topPizzas{padding-left: 0px;}

.imagenPizza{width: 92px;
    height: 129px;}

/******FOOTER*******/

footer{ display: flex;
justify-content: space-between;
align-items: center;
width: 1024px;
height: 150px;
background-color:black;
margin: 0px;}

.navFooter{font-size: 1.6rem;
padding-left: 18px;}

.botones2 {text-decoration: none;
color: white;
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 400;
margin-left: 0px;}

#logoFooter{margin-right: 30px;}